<% include partials/header %>

<h1>Sign Up</h1>

<form action="/register" method="post">
<input type="text" name="username" placeholder = "username" required>
<input type="password" name="password" placeholder = "password" required>
<button class = "btn btn-sm btn-primary" type="submit">Create Account</button>
</form>

<% include partials/footer %>
